.space {
    justify-content: space-evenly;
}

.extra-vh {
    height: 80vh;
    opacity: 100%;
}

#root {
    background-color: rgba(139, 122, 218, 0.614);

}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 100px), repeating-linear-gradient(#444cf755, #444cf7);
}